
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h1> Need For Spitii </h1>
<h1> Start the Game!!!</h1>
<br />
<link href="~/css/background.css" rel="stylesheet">

<html>


<body>
    <div class="body">
        <form asp-action="Game" class="container">
            <h2>Ready!!!!</h2>

            <label for="Username"><b>Username</b></label>
            <input type="text" id="username" placeholder="Enter Username" name="username" required>

            <button type="submit" class="btn">Start!</button>
        </form>
    </div>

</body>



</html>
